* {
  box-sizing: border-box;
}

h1{
  display: block;
}


.home{

  .logo svg{
    path, polygon, g{
      fill: #fff;
    }
  }

  header.global nav a{
    color: $white;
    &:hover{
      border-color: $white;
    }
  }
  header.global nav a.social svg path{
    fill: #fff;
  }
}
