.banner{
  @extend .container;
  padding: 250px 0 0;
  max-width: calc(100% - 80px);
  height: 750px;
  position: relative;
  .banner_slide{
    width: 100%;
    float: left;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem;
    h2, p, a, time {
      color: $white;
    }
    h2{
      font-size: 44px;
      font-family: "Oswald", sans-serif;
      text-transform: uppercase;
      text-align: center;
      line-height: 1.5;
      @include breakpoint(800px){
        font-size: 32px;
      }
    }
    aside{
      margin: 2.25rem 0 1.25rem;
      text-transform: uppercase;
      font-weight: 100;
      color: $white;
      line-height: 1.5;
      text-align: center;
    }
    p{
      font-size: 20px;
      font-weight: 100;
      max-width: 45rem;
      line-height: 1.5;
      text-align: center;
      margin-bottom: 1.25rem;
    }
    @include breakpoint(800px){
      padding: 4rem 2rem ;
    }
    @include breakpoint(500px){
      padding: 4rem 1rem ;
    }
  }
  .slick-list, .slick-track{
    height: 100%;
    overflow: hidden;
  }
  .slick-dots{
    padding-top: 1rem;
    display: flex!important;
    justify-content: center;
    li{
      margin: 0 .175rem;
      &.slick-active{
        button{
          opacity: 1;
        }
      }
    }
    button{
      padding: 0;
      border-radius: 100%;
      height: 12px;
      width: 12px;
      text-indent: -999999px;
      background-color: $black;
      opacity: .35;
      appearance: none;
      border: none;
      outline: none;
    }
  }
  &.single{
    text-align: center;
    a{
      margin-bottom: 2rem;
      font-weight: 100;
    }
    img{
      margin: 2rem 0;
      width: 4rem;
      border-radius: 100%;
    }
    footer{
      p{
        font-size: 14px;
        line-height: 1.5;
        font-style: italic;
      }
    }
  }
  @include breakpoint(800px){
    max-width: calc(100% - 2rem);
    height: auto;
    padding: 140px 0 0;
  }
  @include breakpoint(500px){
    max-width: 100%;
  }
}
