.blog{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @include breakpoint(900px){
    flex-wrap: wrap;
  }
  &_sidebar{
    width: 335px;
    form{
      display: block;
      width: 100%;
      position: relative;
      margin-bottom: 4px;
    }
    .search_field{
      display: block;
      width: 100%;
      border: 1px solid $offwhite;
      font-size: 20px;
      padding: 20px;
      height: 68px;
      color: $grey;
      font-family: 'Open Sans', sans-serif;
      outline: none;
      transition: .2s all ease;
      &::placeholder{
        font-style: italic;
        font-weight: 100;
      }
      &:focus{
        border-color: $grey;
        & + .search_button{
          background-image: url(../img/search_d.svg);
        }
      }
    }
    .search_button{
      height: 28px;
      width: 28px;
      background-image: url(../img/search.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border: none;
      background-color: transparent;
      position: absolute;
      top: 20px;
      right: 20px;
      transition: .2s all ease;
      &:hover, &:focus{
        background-image: url(../img/search_d.svg);
      }
    }
    &_category{
      background-color: $offwhite;
      padding: 20px;
      font-size: 20px;
      margin-bottom: 4px;
      color: $black;
      width: 100%;
      display: block;
      text-decoration: none;
      text-transform: uppercase;
      transition: .2s all ease;
      &:hover{
        background-color: $grey;
        color: $white;
      }
    }
    &_group{
      margin-bottom: 4rem;
      .general-heading{
        margin-bottom: 1.25rem;
      }
      .tag_group{
        padding: 20px;
        background-color: $offwhite;
        a{
          display: inline-block;
          line-height: 1.8;
          color: $black;
        }
      }
      .archive-group{
        padding: 20px;
        background-color: $offwhite;
        a{
          display: block;
          color:$black;
          margin-bottom: 1rem;
          &:last-of-type{
            margin-bottom: 0;
          }
        }
      }
    }
    &_post{
      background-color: $offwhite;
      padding: 20px;
      margin-bottom: 4px;
      color: $black;
      width: 100%;
      display: block;
      text-decoration: none;
      transition: .2s all ease;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      position: relative;
      div{
        padding-left: 1rem;
        h4{
          font-size: 16px;
          line-height: 1.5;
          margin-bottom: 1rem;
          text-decoration: underline;
        }
        span{
          font-size: 12px;
          text-decoration: none;
        }
      }
      &:hover{
        background-color: $grey;
        color: $white;
      }
      @include breakpoint(800px){
        justify-content: flex-start;
      }
    }
    @include breakpoint(800px){
      width: 100%;
      order: 2;
    }
  }
  &_list{
    width: calc(100% - 365px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &_post{
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 2rem;
      position: relative;
      .img{
        width: calc(50% - 1rem);
        img{
          max-width: 100%;
        }
      }
      div{
        height: 100%;
        width: calc(50% - 1rem);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-bottom: 2rem;
        @include breakpoint(1100px){
          height: auto;
        }
      }
      header{
        margin-bottom: 1rem;
        a{
          color: $black;
          text-decoration: none;
          &:hover{
            color: $green;
          }
        }
        h4{
          font-size: 24px;
          line-height: 1.5;
          font-family: $sans;
          text-transform: uppercase;
          font-weight: 500;
        }
      }
      aside{
        text-transform: uppercase;
        font-weight: 600;
        color: $black;
        margin-bottom: 1rem;
        line-height: 1.5;
        a{
          color: $black;
          &:hover{
            color: $green;
          }
        }
      }
      p{
        font-weight: 100;
        line-height: 1.5;
        font-size: 20px;
      }
      .read-more{
        font-size: 16px;
        color: $black;
        text-transform: uppercase;
        font-weight: 600;
        position: absolute;
        bottom: 0;
        &:hover{
          color: $green;
        }
      }
      &:last-of-type{
        margin-bottom: 5rem;
      }
      @include breakpoint(1100px){
        flex-wrap: wrap;
        img, div{
          width: 100%;
        }
        img{
          margin-bottom: 2rem;
        }
      }
    }
    .load-more{
      margin-bottom: 3rem;
    }
    @include breakpoint(800px){
      width: 100%;
      order: 1;
    }
  }
  &_post_content{
    @extend .container;
    max-width: 65rem;
    display: inline-block;
    p{
      font-size: 20px;
      line-height: 1.5;
      color: $black;
      font-family: $sans;
      font-weight: 100;
      @include breakpoint(800px){
        font-size: 16px;
      }
      & + p, & + img {
        margin-top: 2rem;
      }
      a{
        color: $green;
      }
      & + img.alignright{
        margin: 2rem 0 2rem 2rem;
      }
      & + img.alignleft{
        margin: 2rem 0 2rem 2rem;
      }
    }
    img + p{
      margin-top: 2rem;
    }
    blockquote{
      padding: 1rem 2rem;
      border-left: 2px solid $green;
      margin: 2rem 0;
      font-size: 24px;
      line-height: 1.5;
      font-weight: 100;
      color: $green;
    }
    footer{
      background-color: $offwhite;
      padding: 3rem;
      margin: 4rem 0 5rem;
      h2{
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 1rem;
        @include breakpoint(800px){
          font-size: 16px;
        }
      }
      img{
        width: 4rem;
        position: absolute;
      }
      p{
        font-size: 20px;
        @include breakpoint(800px){
          font-size: 16px;
        }
      }
      div{
        padding-left: 6rem;
      }
      @include breakpoint(800px){
        padding: 2rem;
        img{
          display: inline-block;
          position: static;
          margin-bottom: 1rem;
        }
        div{
          padding: 0;
        }
      }
    }
  }
}
