.button{
  border: 0;
  color: $black;
  text-transform: uppercase;
  padding: 20px 30px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1.04px;
  text-decoration: none;
  transition: .2s all ease;
  cursor: pointer;
  &.hollow{
    background-color: transparent;
    border: 2px solid $black;
  }
  &.green{
    background-color: $green;
    color: $white;
    &:hover{
      background-color: lighten($green, 5%);
      color: $white;
    }
  }
  &:hover{
    background-color: $black;
    color: $white;
  }
}
