.cta-form {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  padding: 80px 0;

  .cta-inner {
    margin: 0 auto;
    max-width: 1060px;
    width: 100%;
  }

  h3 {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #EEEEEE;
    text-transform: uppercase;
    letter-spacing: 0.69px;
    text-align: center;
    margin-bottom: 40px;
  }

  p {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 36px;
    color: #FFFFFF;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 40px;
    @include breakpoint(1000px){
      font-size: 28px;
    }
    @include breakpoint(800px){
      font-size: 20px;
    }
  }

  .form {
    display: flex;
    margin: 0 auto 30px;
    max-width: 610px;

    @media(max-width: 768px) {
      padding: 0 20px;
    }
  }

  .form input {
    padding: 20px;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    width: 70%;
    appearance: none;
    -webkit-appearance: none;
    border: 1px solid $grey;
  }

  .form .button {
    width: 30%;
  }

  .value {
    text-align: center;

    ul {
      opacity: 0.6;
      display: flex;
      justify-content: space-between;
      max-width: 500px;
      margin: 0 auto;
    }
  }

  &.alt{
    h3, p, li{
      color: $black;
    }
  }

}
