.cta-bar {
  align-items: center;
  background: #2D3A3A;
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 40px;

  @media(max-width: 768px) {
    flex-flow: row wrap;
  }

  .message {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: #EEEEEE;
    letter-spacing: 0.21px;

    @media(max-width: 1010px) {
      font-size: 16px;
    }

    @media(max-width: 768px) {
      text-align: center;
      margin-bottom: 30px;
      width: 100%;
    }

  }

  a {
    background: #2BA84A;
    color: #fff;
    display: block;
    text-decoration: none;
    padding: 20px 50px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 1.04px;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 30px;

    @media(max-width: 1010px) {
      margin-left: 15px;
      padding: 20px 25px;
    }
  }
}