footer.global {
  background: #040F0F;
  color: #fff;
  padding: 40px;

  .footer-logo {
    text-align: center;
    margin-bottom: 36px;
  }

  nav {
    display: flex;
    justify-content: center;
    margin-bottom: 34px;
    text-align: center;

    @media(max-width: 768px) {
      flex-flow: row wrap;
    }

    a {
      font-family: "Oswald", sans-serif;
      font-size: 16px;
      border-bottom: 2px solid transparent;
      color: #EEEEEE;
      letter-spacing: 0.68px;
      text-decoration: none;
      font-weight: 300;
      margin-right: 24px;
      text-transform: uppercase;
      transition: color 0.2s, border-color 0.2s;

      @media(max-width: 768px) {
        display: block;
        margin-bottom: 10px;
      }

      &:hover {
        border-color: #fff;
      }

      &:last-child {
        margin-right: 0;
      }
    }

  }

  .footer-split {
    align-items: center;
    display: flex;
    justify-content: space-between;

    @media(max-width: 768px) {
      flex-flow: row wrap;
      flex-direction: column;
      justify-content: center;
    }
  }

  .footer-social a {
    text-decoration: none;
    margin-right: 16px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  .copyright {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #2D3A3A;

    @media(max-width: 768px) {
      margin-bottom: 34px;
      text-align: center;
      line-height: 1.5;
    }
  }
}
