header.global {
  background: transparent;
  padding: 20px 40px;
  position: fixed;
  width: 100%;
  transition: background 0.2s, padding 0.2s;
  z-index: 9;

  .logo svg {
    transition: .2s all ease;
  }

  @media(max-width: 992px) {
    .logo svg {
      height: auto;
      width: 60%;
    }
  }

  &.scrolled, &.open {
    background: #040F0F;

    .logo svg {
      height: auto;
      width: 60%;
      path, polygon, g{
        fill: #fff;
      }
    }

    .header-inner nav{
      a, svg path{
        color: $white;
        fill: $white;
        &:hover{
          border-color: $white;
        }
      }
    }

    .mobile-menu-trigger .icon-bar{
      background-color: $white;
    }

  }

  @media(max-width: 768px) {
    padding: 20px;
  }

  .header-inner {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1440px;
    position: relative;
    z-index: 2;
  }

}

header.global nav {
  align-items: center;
  display: flex;
  font-family: "Oswald", sans-serif;

  a {
    border-bottom: 4px solid transparent;
    display: block;
    margin: 0 12.5px;
    padding-bottom: 4px;
    text-decoration: none;
    transition: all 0.2s ease;
    font-size: 16px;
    font-weight: 300;
    color: $black;
    letter-spacing: 0.68px;
    text-transform: uppercase;

    &:hover,
    &.active {
      border-color: $black;
    }

    &:active{
      transform: translateY(5px);
      border-width: 2px;
    }

    &.social {
      border: 0;
      margin: 0 5px;
      svg path{
        fill: $black;
      }
    }

    & + .social{
      margin-left: 20px;
    }

    @media(max-width: 992px) {
      display: none;

      &.mobile-menu-trigger {
        display: block;
      }
    }

  }

  .mobile-menu-trigger {
    background: transparent;
    border: 0;
    cursor: pointer;
    display: none;
    padding: 12px 15px;
    outline: 0;
    margin-left: 15px;
    position: relative;

    @media(max-width: 992px) {
      display: block;
    }
  }

  .mobile-menu-trigger .icon-bar {
    background: $black;
    display: block;
    height: 3px;
    left: 0;
    position: absolute;
    transition: .25s ease-in-out;
    width: 30px;

    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(2),
    &:nth-child(3) {
      top: 8px;
    }

    &:nth-child(4) {
      top: 17px;
    }

  }

  .mobile-menu-trigger.open .icon-bar {
    background-color: $white;

    &:nth-child(1),
    &:nth-child(4) {
      top: 18px;
      width: 0;
      left: 50%;
    }

    &:nth-child(2) {
      transform: rotate(45deg);
    }

    &:nth-child(3) {
      transform: rotate(-45deg);
    }

  }

}

header.global nav.mobile-menu {
  background: #040F0F;
  display: none;
  opacity: 0;
  transition: all 0.2s ease;
  position: absolute;
  left: 0;
  top: 0;
  height: 0px;
  width: 100%;
  z-index: 1;
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  pointer-events: none;
  overflow: hidden;
  @media(min-width: 992px) {
    display: none!important;
  }

  &.show {
    opacity: 1;
    pointer-events: all;
    height: 100vh;
    .social-links{
      opacity: 1;
    }
  }

  a {
    display: block;
    margin: 0;
    padding: 20px;
    width: 100%;
    color: $white;
    text-align: center;
    font-size: 20px;
  }

  .social-links {
    position: absolute;
    bottom: 2rem;
    opacity: 0;
    transition: .2s all ease;
    a {
      padding: 0;
      text-align: center;
      display: inline-block;
      width: auto;
      margin: 0 .5rem;
      svg{
        path{
          fill: $white;
        }
      }
    }
  }
}
