.hero {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  position: relative;
  width: 100%;

  &:after {
    background: rgba(0, 0, 0, 0.2);
    content: " ";
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  .scroll-down {
    display: block;
    bottom: 40px;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    z-index: 2;
  }

  .hero-content {
    background: #040F0F;
    bottom: 30%;
    color: #fff;
    padding: 40px;
    position: absolute;
    z-index: 2;

    @media(max-width: 768px) {
      padding: 20px;
    }

  }

  .hero-content .category {
    display: block;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #2D3A3A;
    letter-spacing: 0.5px;
    line-height: 18.88px;
    margin-bottom: 10px;
  }

  .hero-content .name {
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    font-size: 36px;
    color: #FFFFFF;
    margin-bottom: 20px;
    letter-spacing: 0.31px;
    text-transform: uppercase;
  }

  .hero-content .description,
  .hero-content a {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #EEEEEE;
    line-height: 27px;
  }

  .hero-content .description {
    line-height: 2;
  }
}