.home-quote {
  margin: 0 auto;
  max-width: 1060px;
  padding: 60px 0;
  width: 100%;

  .message {
    color: #2D3A3A;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 36px;
    line-height: 1.5;
    position: relative;
    text-align: center;

    &:before {
      background: url(../img/quote1.png);
      content: " ";
      font-family: "Oswald", sans-serif;
      font-size: 144px;
      color: #EEEEEE;
      position: absolute;
      height: 31px;
      left: 20px;
      top: -31px;
      width: 35px;

      @media(max-width: 768px) {
        left: 0;
      }
    }

    &:after {
      background: url(../img/quote2.png);
      content: " ";
      font-family: "Oswald", sans-serif;
      font-size: 144px;
      color: #EEEEEE;
      position: absolute;
      height: 31px;
      width: 35px;
      bottom: -40px;
      right: 60px;

      @media(max-width: 768px) {
        right: 0;
      }

    }
  }

  .signature {
    padding-top: 60px;
    padding-right: 20%;
    text-align: right;
  }
}