.home-partners {
  background: #EEEEEE;
  padding: 80px 0;

  .partners-inner {
    margin: 0 auto;
    max-width: 760px;
  }

  .partners-inner h3 {
    text-align: center;
    opacity: 0.2;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #2D3A3A;
    letter-spacing: 0.69px;
    text-transform: uppercase;
    margin-bottom: 35px;
  }

  .partners-inner .logos {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;

    @media(max-width: 768px) {
      justify-content: center;
    }

    a {
      display: block;
      text-align: center;
      width: 30%;

      @media(max-width: 768px) {
        margin-bottom: 20px;
        width: 50%;
      }
    }
  }
}
