.home-about {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-top: 40px;
  padding: 80px;
  position: relative;

  @media(max-width: 768px) {
    padding: 40px;
  }

  &:after {
    background: #fff;
    content: " ";
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    opacity: 0.75;
  }

  .about-section {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    position: relative;
    margin-bottom: 108px;
    z-index: 1;

    @media(max-width: 768px) {
      margin-bottom: 40px;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    &:nth-child(even) .content {
      margin-right: 0;
      margin-left: 10%;
      order: 2;

      @media(max-width: 768px) {
        order: 1;
        margin: 0;
      }
    }
  }

  .about-section .content {
    margin-right: 10%;
    width: 60%;

    @media(max-width: 768px) {
      margin: 0;
      width: 100%;
    }

    h3 {
      text-transform: uppercase;
      font-family: "Oswald", sans-serif;
      font-weight: bold;
      font-size: 34px;
      color: #040F0F;
      letter-spacing: 0.3px;
      margin-bottom: 16px;
    }

    p {
      font-family: "Open Sans", sans-serif;
      font-weight: 300;
      font-size: 18px;
      color: #2D3A3A;
      line-height: 34px;
    }

  }

  .about-section .links {
    width: 30%;

    @media(max-width: 768px) {
      order: 2;
    }

    a {
      font-family: "Open Sans", sans-serif;
      font-weight: 300;
      font-size: 34px;
      color: #2D3A3A;
      letter-spacing: 0.3px;
      line-height: 51px;
    }
  }
}