.intro {
  background: #EEEEEE;
  text-align: center;
  padding: 40px;

  h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 25.5px;
    color: #2D3A3A;
    line-height: 1.5;
  }

  h1 a {
    color: #2BA84A;
    border-bottom: 2px solid #2BA84A;
    text-decoration: none;
    position: relative;

    &:after {
      background-image: url(../img/intro-arrow.svg);
      background-repeat: no-repeat;
      content: " ";
      height: 19px;
      top: 50%;
      margin-left: 10px;
      margin-top: -7.5px;
      position: absolute;
      width: 26px;
    }
  }

  @media(max-width: 768px) {
    padding: 20px;
  }
}