.page-content {
  margin: 0 auto;
  max-width: 1440px;
  padding: 40px;
  width: 100%;

  @media(max-width: 768px) {
    padding: 20px;
  }

  &_intro{
    width: 100%;
    text-align: center;
    padding: 48px;
  }

}

.page-divider {
  background: #EEEEEE;
  height: 1px;
}
