.post-grid {

  display: flex;
  flex-flow: row wrap;

}

.post-grid .blog-post {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
  color: #fff;
  text-decoration: none;
  flex-flow: row wrap;
  filter: grayscale(100%);
  width: 25%;
  transition: filter 0.2s;
  position: relative;

  @media(max-width: 992px) {
    filter: grayscale(0);
    width: 50%;
  }

  @media(max-width: 768px) {
    padding: 20px;
    width: 100%;
  }

  &:after {
    background: rgba(0, 0, 0, 0.4);
    content: " ";
    top: 0;
    left: 0;
    height: 100%;
    position: absolute;
    width: 100%;
  }

  .grid-placeholder {
    height: auto;
    max-width: 100%;
  }

  .post-preview {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }

  .post-meta,
  .post-info {
    position: relative;
    z-index: 1;
  }

  .post-meta {
    display: flex;
    justify-content: space-between;
  }

  .post-social {
    display: none;
  }

  .post-social a:last-of-type {
    margin-left: 12px;
  }

  .date {
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 0.5px;
    line-height: 18.88px;
  }

  h3 {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    line-height: 1.5;
    margin-bottom: 8px;
  }

  p {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0.68px;
    line-height: 18.88px;
    margin-bottom: 10px;
  }

  .read-more {
    color: #fff;
    font-weight: 300;
    display: none;
    text-decoration: none;
    transition: opacity 0.2s;
  }

  &:hover {
    filter: grayscale(0);

    .post-social {
      display: block;
    }

    .read-more {
      display: block;
    }

  }
}