.recommended{
  @extend .container;
  @include breakpoint(800px){
    margin-bottom: 5rem;
  }
  article{
    width: calc(33.33333% - 2rem);
    position: relative;
    .img{
      max-width: 100%;
      display: block;
      img{
        width: 100%;
      }
    }
    @include breakpoint(800px){
      width: 100%;
      & + article{
        margin-top: 3rem;
      }
    }
  }
  h3{
    width: 100%;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    font-family: $sans;
    margin-bottom: 2.5rem;
  }
  > div{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    position: relative;
    a{
      text-decoration: none;
      &:hover{
        color: $green;
      }
    }
    aside{
      display: block;
      width: 100%;
      text-align: center;
      padding: 1rem;
      a{
        color: $black;
        text-transform: uppercase;
        font-family: $sans;
        font-weight: 600;
        font-size: 14px;
        text-decoration: underline;
      }
    }
    h4{
      font-size: 22px;
      font-weight: 600;
      line-height: 1.5;
      text-align: center;
      color: $black;
      text-transform: uppercase;
      &:hover{
        color: $green;
      }
    }
    @include breakpoint(800px){
      flex-direction: column;
    }
  }
}
