.social-grid {
  padding-bottom: 40px;

  .social-heading {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    width: 100%;
  }

  .social-heading h3 {
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    font-size: 34px;
    color: #040F0F;
    letter-spacing: 0.3px;
  }

  .social-heading .social-links a {
    text-decoration: none;
    margin-right: 16px;

    &:last-of-type {
      margin-right: 0;
    }
  }

}

.social-grid .social-posts {
  display: flex;
  flex-flow: row wrap;
}

.social-grid .social-posts a {
  background: #2D3A3A;
  display: block;
  transition: background-color 0.2s;
  position: relative;
  width: 25%;

  @media(max-width: 992px) {
    width: 50%;
  }

  @media(max-width: 768px) {
    width: 100%;
  }

  &:hover {
    background-color: #040F0F;
  }

  &.instagram {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    filter: grayscale(100%);
    transition: filter 0.2s;

    @media(max-width: 992px) {
      filter: grayscale(0);
    }

    &:hover {
      background-color: transparent;
      filter: grayscale(0);
    }


    &:after {
      background: rgba(0, 0, 0, 0.4);
      content: " ";
      top: 0;
      left: 0;
      height: 100%;
      position: absolute;
      width: 100%;
    }
  }

  .social-content {
    color: #fff;
    height: 100%;
    padding: 40px;
    position: absolute;
    width: 100%;
    z-index: 1;

    @media(max-width: 1140px) {
      padding: 20px;
    }
  }

  .date {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 11.33px;
    color: rgba(255,255,255, 0.8);
    text-transform: uppercase;
  }

  .content {
    bottom: 0;
    left: 0;
    padding: 40px;
    position: absolute;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 24px;

    div {
      opacity: 0.8;
    }

    @media(max-width: 1140px) {
      padding: 20px;
    }

    div {
      margin-top: 16px;
    }
  }

  img {
    height: auto;
    max-width: 100%;
  }
}